@import url("https://fonts.googleapis.com/css?family=Dosis");

.App {
  font-family: "Dosis";
  text-align: center;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.buttonContainer {
  width: 100px;
}

.screen {
  width: 310px;
  height: 80px;
  background: lime;
  padding: 0px;
  margin: 0px;
}
